.signupWrapper{
    border-radius: 5px;
    width:380px;
    height:80%;
    padding:10px;
    margin:auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    z-index: 250;
}

.signupFormWrapper{
    margin-top: 20px;
    width: 88%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.signupFormWrapper>input{
    margin-bottom: 16px;
    height: 32px;
    border: 1px solid #dfdede;
}

.signupwithGoogle{
    display: flex;
}

.signupOverlay{
    display: flex;
    align-items: center;
    margin:auto;
    position: fixed;
    left: 0px;
    top:0px;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
}

.signupButton{
    border: 0px;
    background-color: var(--primary);
    color: white;
    height: 34px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    font-size: 14.5px;
    cursor: pointer;
    margin-top:22px;

}