/* root container*/

:root{
    --sk_primary: rgb(243, 243, 243);
    --sk_secondary: rgb(221, 221, 221);
    
}

.sk_cardsContainer{
    padding: 8px;
    margin-top:10.5rem;
    display: grid;
}

.sk_cardWrapper{
    margin:auto;
    background-color: var(--sk_primary);
    box-sizing: border-box;
    height: 16.5rem;
    width: 18.4rem;
    padding: .6945rem;
}




.sk_itemImageContainer{
    width: 100%;
    height: 9.7rem;
    padding: 0px;
    margin: 0px;
    background-color: var(--sk_secondary);
}


.sk_itemDetails{
    width: 100%;
    height: 1.26rem;
    margin-top: .5rem;
    background-color: var(--sk_primary);
}

.sk_itemTitle{
    margin-bottom: 5px;
    border-radius: 3px;
    width: 25%;
    height: 1.52rem;
    background-color: var(--sk_secondary);
}

.sk_itemYear{
    margin-bottom: 5px;
    border-radius: 2px;
    width: 35%;
    height: 1.3rem;
    background-color: var(--sk_secondary);
}

.sk_itemTags{
    margin-top: 3px;
    padding: 0px;
    height:1.3rem;
    width: 55%;
    background-color: var(--sk_secondary);
}


@media screen and (max-width: 480px) {
 .sk_cardsCoontaiiner{
    grid-template-columns: 1fr;
 }   
}

@media screen and (min-width: 481px) and (max-width:767px) {
    .sk_cardsCoontaiiner{
       grid-template-columns: 1fr 1fr;
    }   
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .sk_cardsContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1025px){
    .sk_cardsContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}
